<h1>Edit Recipe</h1>

<a href="/users">Cancel</a>

<form action="/users/recipes/{{recipe._id}}" method="POST">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" value="{{recipe.name}}" required><br>

  <label for="minutes">Minutes:</label>
  <input type="number" id="minutes" name="minutes" value="{{recipe.minutes}}" required><br>

<label for="ingredients">Ingredients:</label>
<textarea id="ingredients" name="ingredients" rows="4" cols="50" required>
  {{#each recipe.ingredients}}
    {{this}}{{'\n'}}
  {{/each}}
</textarea><br>

<label for="steps">Steps:</label>
<textarea id="steps" name="steps" rows="4" cols="50" required>
  {{#each recipe.steps}}
    {{this}}{{'\n'}}
  {{/each}}
</textarea><br>


  <label for="description">Description:</label>
  <textarea id="description" name="description" required>{{recipe.description}}</textarea><br>

  <button type="submit">Update Recipe</button>
</form>

<form action="/users/recipes/{{recipe._id}}/delete" method="POST">
  <button type="submit">Delete Recipe</button>
</form>
