<!-- userPage.hbs -->

<h1>
  Welcome
  {{#if user.firstName}}
    , {{user.firstName}}
  {{/if}}
  !
</h1>

<div>
  <h2>Profile</h2>
  <p>Email: {{user.email}}</p>
  <p>Username: {{user.userName}}</p>
  <a href="/users/edit">Edit Profile</a>
</div>

<div>
  <h2>My Recipes</h2>
  <a href="/users/recipes/new">Add New Recipe</a>
  <ul>
    {{#each recipes}}
    <li><a href="/recipes/{{this._id}}">{{this.name}}</a></li>
    <li>{{this.description}}</li>
    <li>
        Ingredients:
        <ul>
        {{#each this.ingredients}}
            <li>{{this}}</li>
        {{/each}}
        </ul>
    </li>
    <li>
        Steps:
        <ol>
        {{#each this.steps}}
            <li>{{this}}</li>
        {{/each}}
        </ol>
    </li>
    <li>
      <form action="/users/recipes/{{this._id}}/edit" method="GET">
        <button type="submit">Edit Recipe</button>
      </form>
    </li>
    {{/each}}
  </ul>
</div>
